{% for financial_result in financials_result %}
{% if financial_result.return_pct > 0 -%}
**Ticket {{ financial_result.ticket }}** ( {{ financial_result.last_operation_date }} ): {{ "{:.3f}%".format(financial_result.return_pct) }} 🟢
{% else -%}
**Ticket {{ financial_result.ticket }}** ( {{ financial_result.last_operation_date }} ): {{ "{:.3f}%".format(financial_result.return_pct) }} 🔴
{% endif -%}
{% endfor %}
